<% layout("/boilerplate")%>
<body>
    <h2>Update details</h2>
    <form method="post" action="/listings/<%= list._id %>/update" class="row col-8 " >

        <div>
            <label for="title " class="form-label">Title</label>
            <input name="listing[title]" type="text" class="form-control" value="<%= list.title %> " required >

        </div>

        <div>

            <label for="description" class="form-label" >Description</label>
            <textarea name="listing[description]" class="form-control" cols="8" rows="4" required><%= list.description %></textarea>
            
        </div>

        <div>
            <label class="form-label" for="price">Price</label>
            <input name="listing[price]" type="number" class="form-control" value="<%= list.price %>" required >

        </div>

        <div>

            <label class="form-label" for="filename" >Image file Name </label>
            <input name="listing[filename]" type="text" class="form-control" required value="<%= list.image.filename %>" >
            

        </div>

        <div>

            <label class="form-label" for="url">Image URL</label>
            <input name="listing[url]" type="text" class="form-control" required value="<%= list.image.url %>" >

        </div>

        <div>
            <label class="form-label" for="location">Location</label>
            <input name="listing[location]" type="text" class="form-control" value="<%= list.location %>" required>

        </div>
        
        <div>
            <label class="form-label"  for="country">Country</label>
            <input name="listing[country]" type="text" class="form-control" value="<%= list.country %>" required >

        </div>

        <button class="btn udatebtn" type="submit">Update</button>
    </form>
</body>
<% layout("/boilerplate")%>
